body {
    background: #eecda3; /* Tono desierto */
    background: linear-gradient(to bottom, #d2b48c, #eecda3);
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Decoración de personajes */
.character {
    position: absolute;
    width: 150px;
    z-index: 0;
    opacity: 0.9;
}

#mate { bottom: 20px; left: 5%; }
#sally { bottom: 20px; right: 5%; }
#guido { top: 20px; right: 10%; width: 100px; }

#login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 20px;
    border: 5px solid #8b4513;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align: center;
    width: 90%;
    max-width: 400px;
    z-index: 1;
}

.pista { font-style: italic; color: #8b4513; margin-bottom: 10px; }
