body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eecda3;
    font-family: sans-serif;
    overflow: hidden;
}

#login-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.character {
    position: absolute;
    width: 200px;
    bottom: 20px;
    z-index: 1;
}

#sally { left: 20px; }
#rayo { right: 20px; }

input { width: 90%; padding: 10px; margin: 10px 0; }
button { padding: 10px 20px; cursor: pointer; }
