html, body {
    margin: 0; padding: 0; height: 100%;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    display: flex; justify-content: center; align-items: center;
    font-family: 'Segoe UI', sans-serif; overflow: hidden;
}

#login-box {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    text-align: center;
    width: 90%;
    max-width: 350px;
    z-index: 10;
}

input {
    width: 100%; padding: 15px; margin-bottom: 15px;
    border: none; border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #ffffff;
    box-sizing: border-box;
}

button {
    width: 100%; padding: 15px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border: none; border-radius: 15px; color: white;
    font-weight: bold; cursor: pointer;
}

.character { position: absolute; width: 180px; bottom: 10px; z-index: 5; pointer-events: none; }
#rayo { right: 10px; }
#sally { left: 10px; }

@media (max-width: 480px) {
    .character { width: 100px; }
}

.pista-container {
    background: #333; /* El asfalto */
    border-left: 10px dashed #fff;
    border-right: 10px dashed #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.estacion-box {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ff4b2b;
}

/* Estilo Polaroid */
.foto-polaroid {
    position: absolute;
    width: 120px;
    padding: 10px 10px 30px 10px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    z-index: 99;
    /* Animación lenta y delicada */
    animation: flotarSuave 10s ease-in-out infinite alternate;
    pointer-events: none;
}

@keyframes flotarSuave {
    0% { transform: translate(0, 0) rotate(-2deg); }
    100% { transform: translate(10px, 20px) rotate(2deg); }
}
